body {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

img {
    width: 200px;
    height: 250px;
}

.item > span {
    display: block;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.buy{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.price {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #f91155;
}

.name {
    font-family: sans-serif;
}

.button {
    margin: 10px 0;
    width: 95px;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: #005bff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.button:hover {
    background-color: #004bd6;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:active {
    outline: none;
}

.dilivery {
    font-family: sans-serif;
    font-size: 14px;
}

.grey {
    color: rgb(128, 141, 154);
}

.blue {
    font-weight: bold;
    color: #005bff;
}